################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TohfeVending.HeaderModule/obj
/TohfeVending.Model/obj/Debug
/TohfeVending.OrderPreparingModule/obj
/TohfeVending.OrdersModule/obj
/TohfeVending.Shell/bin/Debug
/TohfeVending.Shell/obj
